<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Team Project</h1>
      <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/allMovies">All Movies</a></li>
            </ul>
        </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>Prarabdha&Abhay</p>
    </footer>
  </body>
</html>